<div>
    <div class="search-img">
        <img [src]="item.Poster">
    </div>
    <div class="text">
        <div class="info"><span class="emphasis">Movie Title </span> {{item.Title}} <br></div>
        <div class="info"><span class="emphasis">Year </span>{{item.Year}} <br></div>
        <div class="info"><span class="emphasis">Actors </span>{{item.Actors}} <br></div>
        <div class="info"><span class="emphasis">Director </span>{{item.Director}} <br></div>
        <div class="info"><span class="emphasis">Writer </span>{{item.Writer}} <br></div>
        <div class="info"><span class="emphasis">Genre </span> {{item.Genre}} <br></div>
        <div class="info"><span class="emphasis">Runtime </span> {{item.Runtime}}  <br></div>
        <div class="info"><span class="emphasis">Released </span>{{item.Released}}  <br></div>
        <div class="info"><span class="emphasis">Language </span> {{item.Language}}  <br></div>
        <div class="info"><span class="emphasis">imdbRating </span>{{item.imdbRating}} </div>
        <div class="info"><span class="emphasis">Metascore </span>{{item.Metascore}} </div>
        <div class="info"><span class="emphasis">Plot </span>{{item.Plot}} </div>
    </div>
</div>